@{
    ViewData["Title"] = "Request Page";
}

<div class="wrapper">
    <button type="button" class="requestBtn" onclick="REQUEST.sendNormal(this);">Send Request</button>
    <button type="button" class="requestBtn" onclick="REQUEST.sendNormal(this);">Send Request</button>
    <button type="button" class="requestBtn" onclick="REQUEST.sendNormal(this);">Send Request</button>
    <button type="button" class="requestBtn" onclick="REQUEST.sendNormal(this);">Send Request</button>
   
    <br />
    <button type="button" onclick="REQUEST.sendConcurrent(this)">Send Multiple Request</button>
    <input type="text" id="concurrentRequestNumber" value="5" />

</div>